@{
    Layout = "_DevExtremeLayout";
}
@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo</h1>
    <p>Este é um CRUD de cadastro de Clientes que permite cadastrar multiplos tidos de endereço </p>

    <a href="@Url.Action("Index", "Cliente")" class="btn btn-primary">Gerenciar Clientes</a>
</div>
